.customInput {
  & :global .special-label {
    font-size: 11px !important;
  }
  input {
    padding: 11px 48px !important;
    font-size: 14px !important;
  }
  & :global .flag-dropdown {
    background: none;
  }
  & :global .country-list {
    position: fixed !important;
    &.register {
      position: absolute !important;
    }
    & .search {
      @apply flex;
      padding: 10px !important;
      input.search-box {
        width: 100%;
        padding: 10px;
        margin: 0;
      }
    }
  }
  .errorLabel {
    color: red;
    padding-left: 12px;
  }
}
