@import "minxins";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
html,
body {
  overflow: hidden;
  scroll-behavior: smooth;
}
.editorData {
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font: initial;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }

  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }

  a {
    color: initial;
    text-decoration: underline;
    cursor: auto;
  }

  img {
    display: inline-block;
  }

  var {
    font-style: italic;
  }

  q {
    display: inline;
  }

  small {
    font-size: smaller;
  }

  strike {
    text-decoration: line-through;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  b {
    font-weight: bold;
  }

  u {
    text-decoration: underline;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  li {
    display: list-item;
  }

  fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove initial;
  }

  form {
    display: block;
    margin-top: 0em;
  }

  label {
    cursor: default;
  }

  legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
  }

  caption {
    display: table-caption;
    text-align: center;
  }

  article {
    display: block;
  }

  aside {
    display: block;
  }

  figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }

  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font: initial;
    vertical-align: baseline;
  }
}

// input {
// 	// height: 24px !important;
// 	// font-size: 13px !important;

// 	&::placeholder {
// 		font-size: 13px !important;
// 	}
// }
input::-webkit-input-placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
}
input::-moz-placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
}
input::-ms-input-placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
}
input::placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
}

textarea::-webkit-input-placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
  opacity: 0.42;
}
textarea::-moz-placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
  opacity: 0.42;
}
textarea::-ms-input-placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
  opacity: 0.42;
}
textarea::placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
  opacity: 0.42;
}
.select_placeholder {
  color: var(--gray_700) !important;
  font-size: 14px;
  opacity: 0.42;
}
input.Mui-disabled {
  opacity: 0.55 !important;
  color: var(--gray_700) !important;
  -webkit-text-fill-color: var(--gray_700) !important;
  &::placeholder {
    color: var(--gray_700) !important;
    // text-transform: capitalize;
    // opacity: 0.42;
  }
}
.MuiAutocomplete-inputRoot {
  padding: 0 0 0 5px !important;
}

.colorPrimary {
  color: var(--primary_blue_500);
}

.flex {
  display: flex !important;
  align-items: center;

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.start {
    justify-content: start;
  }

  &.end {
    justify-content: end;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.MuiMenu-paper {
  box-shadow: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.searchInput {
  width: 400px;

  .MuiInputBase-root {
    padding: 0 !important;
  }

  .formLabel {
    display: none;
  }
}

.filterContainer {
  background-color: var(--primary_blue_50);
  padding: 24px 16px;
  margin-top: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;

  .datepicker-dates {
    display: flex;
    align-items: center;
    gap: 14px;

    .MuiAutocomplete-root {
      max-width: 140px;
    }
  }
}

.datepicker {
  width: fit-content;
  min-width: 140px;

  .MuiStack-root {
    padding: 0;
  }
}

.MuiInputBase-root {
  .MuiInputBase-input {
    padding: 8px !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border-radius: 4px !important;
  }

  &:hover {
    .MuiOutlinedInput-notchedOutline {
      border-color: var(--primary_blue_500) !important;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

// * {
//   scrollbar-width: thin;
//   scrollbar-color: #91a5be #dbe5f3;
// }
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #91a5be #dbe5f3;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary_blue_500);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary_blue_500);
  border-radius: 15px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: var(--primary_blue_200);
}

.main {
  p {
    color: var(--primary);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

button {
  text-transform: capitalize !important;
}

.custom-carousel {
  height: calc(100vh - 90px);

  div {
    height: 100% !important;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.privacyTermsEditor {
  .ql-editor {
    min-height: 330px;
  }
}

.top_50 {
  padding-top: 50px !important;
}

.formLabel {
  display: block;
  @include font(
    "Poppins" !important,
    500,
    14px !important,
    var(--black) !important,
    1.4 !important
  );
  margin-bottom: 10px;

  sup {
    color: var(--error_500);
  }
}

.checkbox {
  .MuiFormControlLabel-label {
    @include font(
      "Poppins" !important,
      400,
      14px !important,
      var(--black) !important,
      1.4 !important
    );
  }

  &.checkError {
    .MuiFormControlLabel-label {
      @include font(
        "Poppins" !important,
        400,
        14px !important,
        var(--error_500) !important,
        1.4 !important
      );
    }
  }

  &.check_primary {
    .MuiFormControlLabel-label {
      @include font(
        "Poppins" !important,
        400,
        14px !important,
        var(--primary_blue_500) !important,
        1.4 !important
      );
    }
  }
}

.link {
  @include font(
    "Poppins" !important,
    400 !important,
    inherit !important,
    var(--primary_blue_500) !important,
    inherit !important
  );
  text-decoration: none !important;
  margin: 0 5px;
  vertical-align: inherit !important;
  margin-left: 5px !important;

  &:hover {
    background-color: var(--white) !important;
  }
}

.footer {
  width: 100%;
  padding: 14px 90px;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;

  .copyright,
  .nav {
    width: 100%;
  }

  .copyright {
    text-align: center;

    p {
      @include font("Plus Jakarta Sans", 400, 14px, var(--gray_900), 1.4);
    }
  }

  .nav {
    padding: 0 50px;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    .navLink {
      @include font("Plus Jakarta Sans", 500, 16px, var(--white), 1.4);
      cursor: pointer;

      &:hover {
        @include font(
          "Plus Jakarta Sans",
          500,
          16px,
          var(--secondary_blue_100),
          1.4
        );
      }
    }
  }
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray_100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  // max-width: 1248px;
  margin: 0 auto;
  padding: 14px 60px 14px 80px;

  .authAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  .userDropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .info {
      h4 {
        @include font("Poppins", 500, 14px, var(--gray_900), 1.4);
        text-align: left;
        @include ellipse(100%, 350px, 20px);
      }

      p {
        @include font("Poppins", 400, 14px, var(--gray_500), 1.4);
        text-align: left;
        text-transform: lowercase;
        @include ellipse(100%, 350px, 20px);
      }
    }
  }
}

.mainContainer {
  height: calc(100vh - 130px);
  // overflow: auto;
  background: var(--white);
  // padding: 0 0 50px 0;
}

.main {
  .footer {
    border-top: 1px solid var(--gray_100);

    .nav {
      .navLink {
        @include font("Plus Jakarta Sans", 500, 16px, var(--gray_900), 1.4);
        cursor: pointer;

        &:hover {
          @include font(
            "Plus Jakarta Sans",
            500,
            16px,
            var(--secondary_blue_100),
            1.4
          );
        }
      }
    }
  }
}

.MuiFormHelperText-root {
  margin: 3px 0 0 !important;
  line-height: 1.3;

  &:not(.Mui-error) {
    @include font(
      "Poppins" !important,
      300 !important,
      12px !important,
      var(--gray_500) !important,
      1.3 !important
    );
  }
}

.buttonContainer {
  max-width: 360px;
  margin: 45px auto;
}

.formLabel {
  margin: 10px 0 4px 0;

  h3 {
    @include font("Poppins", 500, 16px, var(--black), 1.3);
  }

  button {
    padding: 0 !important;
    margin: 0 10px;
  }
}

.businessInfo {
  .formLabel {
    margin: 20px 0 4px 0;
  }
}

.burronWrapper {
  margin: 20px 0;
}

.success {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  height: calc(100% - 200px);

  h3 {
    @include font("Poppins", 600, 24px, var(--black), 1.3);
    text-align: center;
  }

  p {
    @include font("Poppins", 400, 16px, var(--gray_500), 1.3);
    text-align: center;
  }

  img {
    width: 200px;
  }
}

.passwordSugession {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--white);

  p {
    @include font("Poppins", 500, 14px, var(--gray_800), 1.3);
    margin-bottom: 6px;
  }

  ul {
    list-style-type: disc;
    padding-left: 18px;

    li {
      @include font("Poppins", 400, 14px, var(--gray_700), 1.5);
    }
  }

  &.BusinessTypeWarning {
    max-width: 396px;

    .popoverHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      margin-bottom: 10px;
    }

    .popOverBody {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h4 {
        @include font("Poppins", 500, 14px, var(--gray_900), 1.5);
      }

      .info {
        @include font("Poppins", 400, 14px, var(--gray_500), 1.5);
      }

      .error {
        @include font("Poppins", 400, 14px, var(--error_500), 1.5);
      }
    }
  }
}

.MuiPopover-paper {
  .CloasePopover {
    position: absolute;
    top: 15px;
    right: 5px;
    padding: 1px;
  }
}

.popoverArrow {
  .MuiPopover-paper {
    // position: relative;
    overflow-y: visible;
    overflow-x: visible;
    border-radius: 8px;

    .CloasePopover {
      position: absolute;
    }

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      background-color: var(--white);
      bottom: -16px;
      left: 50%;
      position: absolute;
      transform: rotate(45deg) translate(-50%, 0);
      border-radius: 4px;
    }
  }
}

.business_wa_p {
  position: relative;

  .popoverPosition {
    position: absolute;
    top: 62px;
    right: -40px;
  }
}

.dialogWrapper {
  background-color: var(--white);
  padding: 20px;

  .dialogHeader {
    text-align: center;

    button {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 0;
    }

    h4 {
      @include font("Poppins", 600, 24px, var(--black), 1.5);
      text-align: center;
    }
  }

  .doalogBody {
    margin: 20px 0 30px 0;

    p {
      @include font("Poppins", 400, 16px, var(--gray_500), 1.5);
      text-align: center;
    }
  }

  .dialogActions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
      max-width: 360px;
    }
  }
}

.customBtn {
  .MuiButtonBase-root {
    padding: 8px 32px !important;
  }
}

.MuiButtonBase-root {
  &.MuiButton-root.Mui-disabled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08) !important;

    color: var(--gray_300) !important;
    background-color: var(--white) !important;
  }
}

.MuiStepLabel-iconContainer {
  &.Mui-active {
  }

  &.Mui-completed {
  }

  &.Mui-disabled {
  }
}

.MuiStepConnector-line {
  display: block;
  border-color: #eef3f7 !important;
  border-top-style: solid !important;
  border-top-width: 3px !important;
}

.MuiStepLabel-label {
  @include font(
    "Poppins",
    500 !important,
    16px !important,
    var(--gray_700) !important,
    1.1 !important
  );

  &.Mui-completed {
    @include font(
      "Poppins",
      500 !important,
      16px !important,
      var(--primary_blue_500) !important,
      1.1 !important
    );
  }
}

.listImage {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
  background-color: var(--primary_blue_100);
  &.round {
    border-radius: 50%;
  }
}

.welcomeScreen {
  display: flex;
  background-color: var(--white);
  height: 100%;

  .wel_left {
    width: calc(100% - 40%);
    background-color: var(--white);
    padding: 100px;

    @include desktop-md {
      padding: 50px 100px;
    }

    .wel_message {
      max-width: 524px;

      h1 {
        @include font("Poppins", 600, 36px, var(--black), 1.1);

        @include desktop-md {
          @include font("Poppins", 600, 26px, var(--black), 1.1);
        }
      }

      ul {
        margin: 40px 0;

        li {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          margin-bottom: 30px;
          position: relative;

          .num {
            width: 32px;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary_blue_500);
            @include font("Poppins", 600, 16px, var(--white), 1.1);

            @include desktop-md {
              @include font("Poppins", 500, 14px, var(--white), 1.1);
            }

            &:after {
              content: "";
              width: 3px;
              height: 70%;
              background-color: var(--primary_blue_500);
              position: absolute;
              top: 40px;
              left: 14px;
              border-radius: 12px;
            }
          }

          .desc {
            h3 {
              @include font("Poppins", 600, 18px, var(--primary_blue_500), 1.5);

              @include desktop-md {
                @include font(
                  "Poppins",
                  500,
                  16px,
                  var(--primary_blue_500),
                  1.5
                );
              }
            }

            p {
              @include font("Poppins", 400, 16px, var(--gray_500), 1.3);

              @include desktop-md {
                @include font("Poppins", 400, 14px, var(--gray_500), 1.3);
              }
            }
          }

          &:last-child {
            .num {
              &::after {
                content: none;
              }
            }
          }
        }
      }

      .burronWrapper {
        max-width: 360px;
        margin: 0 auto;

        @include desktop-md {
          max-width: 300px;
        }
      }
    }
  }

  .wel_right {
    width: 40%;
    background-color: var(--primary_blue_50);
    padding: 100px;
    height: 100%;

    @include desktop-md {
      padding: 50px 100px;
    }

    @include desktop-sm {
      padding: 50px 60px;
    }

    .infoGraphic {
      figure {
        margin: 0 auto;
        text-align: center;

        img {
          max-width: 100%;

          @include desktop-md {
            max-width: 50%;
          }
        }
      }

      h3 {
        @include font("Poppins", 600, 24px, var(--primary_blue_500), 1.1);

        @include desktop-md {
          @include font("Poppins", 500, 20px, var(--primary_blue_500), 1.1);
        }
      }

      ul {
        margin: 40px 0;

        @include desktop-md {
          margin: 30px 0;
        }

        li {
          position: relative;
          padding-left: 40px;
          margin-bottom: 30px;

          p {
            @include font("Poppins", 400, 16px, var(--gray_500), 1.1);

            @include desktop-md {
              @include font("Poppins", 300, 14px, var(--gray_500), 1.1);
            }
          }

          &:before {
            content: "";
            background-image: url("../assets/images/tick-circle.svg");
            width: 24px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: -5px;
            left: 0;
          }
        }
      }
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// .MuiIconButton-sizeMedium{
// 	svg{
// 		fill: var(--black) !important;
// 	}
// }
.main {
  .footer {
    background-color: var(--white);
  }
}

.helper-error {
  margin: 3px 0 0 !important;
  @include font("Poppins", 400, 0.75rem, var(--error_500) !important, 1.66);
}

.border-red {
  .MuiOutlinedInput-notchedOutline {
    border-color: var(--error_500) !important;
  }
}

.dashboardWrapper {
  position: relative;
  padding-left: 244px;
  // padding-top: 80px;
  height: calc(100vh - 130px);

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .sidebar {
    width: 280px;
    padding: 36px 10px 36px 16px;
    background-color: var(--primary_blue_50);
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;

    .navigation {
      ul {
        height: calc(100vh - 190px);
        overflow: auto;
        padding-right: 10px;

        li {
          margin-bottom: 16px;

          a {
            @include font("Poppins", 400, 14px, var(--gray_700), 1.66);
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            background-color: var(--primary_blue_50);

            &.activeLink {
              background-color: var(--primary_blue_500);
              @include font("Poppins", 400, 14px, var(--white), 1.66);
            }
          }
        }
      }
    }
  }

  .pageContainer {
    background-color: var(--white);
    // padding: 30px 59px 0 72px;
    height: 100%;
    padding: 30px 59px 0 72px;
    @include desktop-sm {
      padding: 18px 15px 0 60px;
    }
    // height: calc(100vh - 140px);
    // overflow: auto;
  }
}
.tabs {
  margin-top: 10px;
}
.tabsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customTags {
  ul {
    margin: 20px 0;
    &.tags {
      display: flex;
      align-items: center;
      gap: 15px;
      li {
        border-radius: 6px;
        background: var(--primary_blue_50);
        padding: 4px 8px 4px 14px;
        display: flex;
        align-items: center;
        gap: 15px;
        p {
          @include font("Poppins", 400, 14px, var(--primary_blue_500), 1.4);
          @include ellipse(100%, 300px, 20px);
          text-transform: capitalize;
        }
        button {
          // border: 2px solid var(--primary_blue_500);
          color: var(--primary_blue_500);
          padding: 4px;
        }
      }
    }
  }
}

.pageBody {
  padding-bottom: 20px;
  .pageHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .headings {
      flex: 1;
      h3 {
        @include font("Poppins", 600, 24px, var(--gray_700), 1.66);
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .breadCrums {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
        position: relative;
        @include font("Poppins", 500, 14px, var(--primary_blue_500), 1.66);

        &:after {
          content: ">";
          position: absolute;
          top: 0;
          right: -4px;
        }

        padding-right: 10px;
        // &:first-child {
        @include font("Poppins", 500, 14px, var(--gray_700), 1.66);
        cursor: pointer;
        transition: 0.3s ease-in-out all;
        &:hover {
          @include font("Poppins", 500, 14px, var(--primary_blue_500), 1.66);
        }
        // }

        &:last-child {
          @include font("Poppins", 500, 14px, var(--primary_blue_500), 1.66);
          &:after {
            content: "";
          }
        }
      }
    }
  }
}

.MuiAutocomplete-option {
  .checkbox {
    margin-right: 0;
  }
}
.MuiGrid-root {
  &.MuiGrid-container {
    align-items: flex-start !important;
  }
}
.fileInputField {
  cursor: pointer;

  fieldset {
    border-style: dashed !important;
  }

  .MuiOutlinedInput-root {
    background-color: var(--gray_50);
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }
}

.fileProgress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray_200);
  background: var(--white);
  padding: 16px;
  margin: 8px 0;

  .progressInfo {
    display: flex;
    align-items: center;
    gap: 20px;

    .fileIc {
      width: 30px;
    }

    .doc_name {
      width: calc(100% - 70px);

      h4 {
        @include font("Poppins", 500, 14px, var(--gray_700), 1.66);
      }

      p {
        @include font("Poppins", 400, 14px, var(--gray_500), 1.66);
      }
    }

    .icButton {
      width: 40px;
    }
  }

  .linearProgress {
    display: flex;
    align-items: center;
    gap: 20px;

    .MuiLinearProgress-root {
      width: 100%;
    }

    p {
      @include font("Poppins", 500, 14px, var(--gray_700), 1.66);
    }
  }
}

input[type="search" i]::-webkit-search-cancel-button {
  appearance: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
}

.sectionContainer {
  margin: 15px 0;

  .sectionHeadings {
    border-radius: 5px;
    background: var(--primary_blue_500);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    h3 {
      @include font("Poppins", 500, 16px, var(--white), 1.66);
      text-transform: capitalize;
    }
  }

  .sectionBody {
    padding: 16px 0;
  }
}

.textArea {
  width: 100%;

  textarea {
    width: 100%;
    border: 1px solid #0000003b;
    border-radius: 8px;
    padding: 8px 12px;
    @include font("Poppins", 400, 16px, rgba(0, 0, 0, 0.87), 1.3);
    resize: none;

    &:hover {
      border: 1px solid var(--primary_blue_500);
    }

    &:focus {
      border: 1px solid var(--primary_blue_500);
    }
    &:disabled {
      color: #8f8f8f;
    }

    &:focus-visible {
      border: 1px solid var(--primary_blue_500);
      outline: 1px solid var(--primary_blue_500);
    }
  }

  &.textarea_error {
    textarea {
      border: 1px solid var(--error_500);

      &:hover {
        border: 1px solid var(--error_500);
      }

      &:focus {
        border: 1px solid var(--error_500);
      }

      &:focus-visible {
        border: 1px solid var(--error_500);
        outline: 1px solid var(--error_500);
      }
    }
  }
}

.formButtons {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 16px;

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.center {
    justify-content: flex-center;
  }
}

.select_in_field {
  width: inherit;
  max-width: 110px;
  margin-right: -14px;

  .customSelect {
    // display: flex;
    // align-items: center;
    // flex-direction: row;
    // justify-content: flex-end;

    .formLabel {
      display: none;
    }

    fieldset {
      border-width: 0 !important;

      &.MuiOutlinedInput-notchedOutline .MuiOutlinedInput-notchedOutline {
        border-width: 0 !important;
      }
    }
  }
}
.customAutocomplete {
  .MuiAutocomplete-listbox {
    max-height: 150px;
    overflow: auto;
  }

  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1dxqrv5-MuiAutocomplete-root
    .MuiOutlinedInput-root
    > span {
    display: none;
  }
}
.imagePopOver {
  max-width: 300px;
  @include font("Poppins", 400, 12px, #7c7c7c, 1.4);
}

.imageProgress {
  display: flex;
  align-items: center;
  gap: 15px;

  p {
    @include font("Poppins", 500, 14px, var(--gray_800), 1.4);
  }

  .MuiLinearProgress-root {
    width: 100%;
  }
}

.Toastify__toast--error {
  position: relative;

  .Toastify__toast-body {
    padding-left: 50px;

    & > div {
      &:last-child {
        @include font("Poppins", 400, 14px, var(--error_500), 1.4);
      }
    }
  }

  .Toastify__toast-icon {
    svg {
      display: none;
    }

    width: 40px;
    min-width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;

    &:after {
      content: "";
      background-image: url("../assets/images/error-ic.svg");
      width: 40px;
      min-width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.Toastify__toast--success {
  position: relative;

  .Toastify__toast-body {
    padding-left: 50px;

    & > div {
      &:last-child {
        @include font("Poppins", 400, 14px, var(--success_500), 1.4);
      }
    }
  }

  .Toastify__toast-icon {
    svg {
      display: none;
    }

    width: 40px;
    min-width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;

    &:after {
      content: "";
      background-image: url("../assets/images/success-ic.svg");
      width: 40px;
      min-width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.Toastify__toast--warning {
  position: relative;

  .Toastify__toast-body {
    padding-left: 50px;

    & > div {
      &:last-child {
        @include font("Poppins", 400, 14px, var(--warning_500), 1.4);
      }
    }
  }

  .Toastify__toast-icon {
    svg {
      display: none;
    }

    width: 40px;
    min-width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;

    &:after {
      content: "";
      background-image: url("../assets/images/warning-ic.svg");
      width: 40px;
      min-width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
.reelTable thead tr {
  background-color: #d3cdcd;
}
.MuiTable-root {
  .MuiTableHead-root {
    // background-color: var(--primary_blue_500);

    // .MuiTableCell-root {
    // 	color: var(--white);
    // 	font-weight: 500;
    // 	font-size: 16px;
    // 	// @include desktop-md{
    // 	// 	@include font('Poppins', 500, 14px, var(--white), 1.3);
    // 	// }
    // }
  }

  .MuiTableCell-root {
    max-width: 150px;
    word-break: break-word;
  }

  .table-menu {
    .MuiIconButton-root {
      background-color: var(--primary_blue_50);
      border-radius: 50px;
    }
  }
}

.reelTable {
  thead {
    tr {
      background-color: #e9e9e9;

      th {
        border-bottom: 0;

        @include font("Poppins", 500, 14px, var(--gray_600) !important, 1.2);
        padding: 14px 10px;
        white-space: nowrap;
        span {
          @include font("Poppins", 500, 14px, var(--gray_600) !important, 1.2);
        }
        @include desktop-md {
          @include font("Poppins", 500, 14px, var(--gray_600) !important, 1.2);
        }
        // @include desktop{
        // 	@include font('Poppins', 500, 14px, var(--gray_600) !important, 1.2);
        // }
        @include mobile-sm {
          @include font("Poppins", 500, 12px, var(--gray_600) !important, 1.2);
          padding: 8px 6px;
          white-space: nowrap;
          span {
            @include font(
              "Poppins",
              500,
              12px,
              var(--gray_600) !important,
              1.2
            );
          }
        }
        .MuiFormGroup-root {
          max-width: 40px;
        }

        .checkbox {
          padding: 0;
          margin: 0;

          .MuiCheckbox-root {
            padding: 2px;
          }
        }
      }
    }
  }

  tbody {
    tr {
      td {
        @include font("Poppins", 400, 16px, var(--gray_900), 1.3);
        @include desktop-md {
          @include font("Poppins", 400, 14px, var(--gray_900), 1.3);
        }
        padding: 16px 10px;
        button {
          font-size: 16px !important;
          text-align: left;
        }
        .MuiFormGroup-root {
          max-width: 40px;
        }

        .checkbox {
          padding: 0;
          margin: 0;

          .MuiCheckbox-root {
            padding: 2px;
          }
        }
      }
    }
  }

  .tableActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    button {
      border-radius: 4px;

      &.btn_edit {
        background-color: var(--gray_100);
      }

      &.btn_delete {
        background-color: var(--error_100);
      }
    }
  }
}
button {
  &.MuiIconButton-root {
    border-radius: 4px;
    &.btn_edit {
      background-color: var(--gray_100);
    }

    &.btn_delete {
      background-color: var(--error_100);
    }
  }
}
.MuiMenuItem-root {
  @include font(
    "Poppins" !important,
    400 !important,
    16px !important,
    var(--gray_900) !important,
    1.3
  );
}
.MuiTab-root {
  &.MuiButtonBase-root {
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 12px 20px !important;
  }
}
.reelPagination {
  border-top: 1px solid var(--gray_200, #e5e7eb);
  padding: 20px 0 10px 0;

  .MuiPagination-ul {
    justify-content: center;

    li {
      &:first-child {
        margin-right: auto;

        .MuiPaginationItem-root {
          position: relative;
          width: 135px;
          justify-content: space-between;
          border-radius: 8px;
          border: 1px solid var(--gray_300, #d2d6db);
          background: var(--white, #fff);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          padding: 2px 18px;

          &::after {
            content: "Previous";
            position: absolute;
            top: 5px;
            right: 37px;
          }
        }
      }

      &:last-child {
        margin-left: auto;

        .MuiPaginationItem-root {
          position: relative;
          width: 135px;
          justify-content: space-between;
          flex-direction: row-reverse;
          border: 1px solid var(--gray_300, #d2d6db);
          background: var(--white, #fff);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          padding: 2px 18px;

          &::after {
            content: "Next";
            position: absolute;
            top: 5px;
            left: 37px;
          }
        }
      }
    }
  }
}

.ImageProgressBg {
  background-color: var(--primary_blue_50);
  border: 1px solid var(--primary_blue_500);
  border-radius: 8px;
}

.reelTableContainer {
  // .reelTable {
  //   min-height: calc(100vh - 240px);
  //   max-height: calc(100vh - 240px);
  // }
  &.autoHeight {
    .reelTable {
      min-height: auto;
      max-height: auto;
    }
  }
}

.dialog_title {
  h3 {
    @include font(
      "Poppins" !important,
      500 !important,
      22px !important,
      var(--gray_900) !important,
      1.3
    );
    text-align: center;
  }
}

.dialogPara {
  text-align: center;

  p {
    @include font(
      "Poppins" !important,
      400 !important,
      14px !important,
      var(--gray_900) !important,
      1.6
    );
    text-align: center;
  }
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 24px;

  .cInfoImg {
    position: relative;
    width: 160px;
    height: 160px;

    figure {
      cursor: pointer;
      width: 160px;
      height: 160px;

      img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      &:hover {
        .editImage {
          // display: block;
          scale: 1;
        }
      }
    }

    &.small {
      width: 100px;
      height: 100px;

      figure {
        cursor: pointer;
        width: 100px;
        height: 100px;

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }

        &:hover {
          .editImage {
            // display: block;
            scale: 1;
          }
        }
      }

      .editImage {
        position: absolute;
        top: 0;
        left: 0;
        // display: none;
        scale: 0;
        transition: 0.3s ease-in-out all;

        label {
          width: 100px;
          height: 100px;
          background-color: #00000082;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;

          @include mobile-sm {
            width: 40px;
            height: 40px;
          }

          input {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            cursor: pointer;
          }
        }
      }
    }
  }

  .editImage {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    scale: 0;
    transition: 0.3s ease-in-out all;

    label {
      width: 160px;
      height: 160px;
      background-color: #00000082;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      @include mobile-sm {
        width: 40px;
        height: 40px;
      }

      input {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        cursor: pointer;
      }
    }
  }

  .UserDeatils {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    &.sm {
      h3 {
        @include font("Poppins", 600, 24px, var(--gray_700), 1.4);
        @include ellipse(500px, 100%, 34px);
        text-transform: capitalize;
      }
    }
    h3 {
      @include font("Poppins", 600, 24px, var(--gray_700), 1.4);
      @include ellipse(60vw, 100%, 34px);
      text-transform: capitalize;
    }

    p {
      @include font("Poppins", 400, 18px, var(--gray_700), 1.4);
      @include ellipse(60vw, 100%, 22px);
    }
  }
}

.status {
  padding: 10px;
  text-align: center;

  &.active {
    @include font("Poppins", 400, 16px, var(--success_500), 1.4);
  }

  &.in_active {
    @include font("Poppins", 400, 16px, var(--warning_500), 1.4);
  }

  &.blocked {
    @include font("Poppins", 400, 16px, var(--error_500), 1.4);
  }

  &.drafted {
    @include font("Poppins", 400, 16px, var(--primary_blue_500), 1.4);
  }
}

.gap_10 {
  gap: 10px;
}

.reelForm {
  margin-bottom: 15px;

  label {
    @include font("Poppins", 500, 16px, var(--black), 1.4);
  }

  p {
    @include font("Poppins", 400, 16px, var(--gray_900), 1.4);
  }
}

.verifyAdminEmail {
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

    .otpField {
      max-width: 232px;
      display: flex;
      gap: 24px;
      margin: 0 auto;

      input {
        text-align: center;
      }
    }

    .burronWrapper {
      margin: 10px 0;
    }

    .otpForm {
      max-width: 230px;
      margin: 0 auto;

      .burronWrapper {
        margin: 30px 0;
      }

      .formLabel {
        display: block;
        @include font(
          "Poppins" !important,
          500 !important,
          14px !important,
          var(--black) !important,
          1.4 !important
        );
        margin-bottom: 10px;

        sup {
          color: var(--error_500);
        }
      }
    }
  }

  .componentContainer {
    // display: flex;
    // align-items: center;
    overflow: auto;
    padding: 25px 0;
    height: calc(100vh - 100px);

    .authForm {
      max-width: 380px;
      margin: 0 auto;

      // display: flex;
      // flex-direction: column;
      // gap: 7px;
      // height: calc(100vh - 220px);
      // overflow: auto;
      // padding: 0px 10px 0 0;
      h1 {
        @include font("Poppins", 600, 36px, var(--black), 1);
        text-align: center;
        margin-bottom: 10px;
      }

      & > p {
        @include font("Poppins", 400, 14px, var(--gray_500), 1.5);
        text-align: center;

        span {
          @include font("Poppins", 400, 14px, var(--gray_800), 1.5);
        }
      }
    }
  }
}

.ellipse {
  @include ellipse(250px, 100%, 20px);
}
.selectUser {
  width: 200px;
}

.faqCard {
  position: relative;
  padding: 16px 50px 16px 16px;
  border: 1px solid var(--primary_blue_500);
  border-radius: 8px;
  margin-bottom: 15px;
  .faqAction {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .faqContent {
    h3 {
      @include font("Poppins", 500, 18px, var(--gray_800), 1.5);
      margin-bottom: 10px;
    }
    p {
      @include font("Poppins", 400, 14px, var(--gray_800), 1.33);
    }
    .faqDate {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      @include font("Poppins", 400, 16px, var(--primary_blue_500), 1.5);
    }
  }
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog_title {
  @include font("Poppins", 500, 22px, var(--gray_900), 1.5);
  &.center {
    text-align: center;
  }
}
.dialog_subtitle {
  p {
    @include font("Poppins", 400, 16px, var(--gray_900), 1.5);
  }
}

.userDept {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
  .MuiChip-root {
    @include font("Poppins", 400, 18px, var(--gray_900), 1.5);
    border-radius: 4px;
  }
}
.custom_chip {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--gray_200);
  @include font("Poppins", 400, 18px, var(--gray_900), 1.5);
  margin: 5px 0;
}
.MuiList-root {
  .MuiMenuItem-root {
    // @include ellipse(100%, 340px, 36px);
    display: block;
    text-transform: capitalize;
  }
}
.reel_theme_info {
  background-color: #f4f4f6;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 12px;
  .infoText {
    @include font("Poppins", 400, 14px, #292842, 1.4);
  }
}
.imageContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0;
  .imageItem {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    border: 1px dashed var(--primary_blue_100);
    background: var(--gray_100);
    .selectimg_video {
      height: 100%;
      border-radius: 4px;
      border: 1px dashed var(--primary_blue_100);
      background: var(--gray_100);
      position: relative;

      label {
        height: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        h4 {
          text-align: center;
          @include font("Poppins", 500, 15px, var(--gray_700), 1.4);
          margin: 10px 10px 0 10px;
        }

        p {
          text-align: center;
          @include font("Poppins", 400, 12px, #7c7c7c, 1.4);
          margin: 10px;
          font-style: italic;
        }
      }

      .removeImage {
        position: absolute;
        padding: 4px;
        top: -14px;
        right: -14px;
        background-color: var(--white);
        border: 0px solid var(--primary_blue_500);
        z-index: 1;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.06));
        svg {
          fill: var(--blackLight);
        }

        &:hover {
          background-color: var(--primary_blue_200);
          color: var(--white);
        }
      }
      figure {
        &.selected {
          img,
          video {
            // height: 100%;
            height: calc(300px - 4px);
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
    &.small {
      width: 150px;
      height: 150px;
      .selectimg_video {
        label {
          height: 100%;
          min-height: 150px;
        }
        figure {
          &.selected {
            img,
            video {
              // height: 100%;
              height: calc(150px - 4px);
            }
          }
        }
      }
    }
  }
}

.accessControl {
  h3 {
    @include font("Poppins", 600, 18px, var(--gray_700), 1.4);
    margin: 9px 0 10px 0;
  }
  p {
    @include font("Poppins", 400, 14px, var(--black), 1.4);
  }
  .rollContainer {
    p {
      @include font("Poppins", 500, 16px, var(--black), 1.4);
    }
  }
}
.switchLabel {
  @include font("Poppins", 400, 14px, var(--gray_700), 1.4);
  &.small {
    @include font("Poppins", 400, 14px, var(--gray_700), 1.4);
  }
  &.medium {
    @include font("Poppins", 500, 16px, var(--gray_700), 1.4);
  }
  &.large {
    @include font("Poppins", 500, 18px, var(--gray_700), 1.4);
  }
}

.roolsDialog {
  .dialogTitle {
    padding: 24px;
    border-bottom: 1px solid var(--gray_200);
    h3 {
      @include font("Poppins", 500, 18px, var(--gray_700), 1.4);
    }
  }
  .dialogBody {
    padding: 24px;
  }
  .roolsAction {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

button {
  &.MuiIconButton-root {
    &.tbl_more {
      background-color: var(--primary_blue_50);
      border-radius: 6px;
      color: var(--primary_blue_500);
      padding: 7px 9px 7px 5px;
      margin: 5px;
    }
  }
}

.h-30 {
  height: 30px;
}
.reel_theme_info {
  background-color: #f4f4f6;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 12px;
  .infoText {
    @include font("Poppins", 400, 14px, #292842, 1.4);
    p {
      @include font("Poppins", 400, 14px, #292842, 1.4);
    }
  }
  &.info_light {
    background-color: var(--white);
    @include font("Poppins", 400, 14px, var(--gray_500), 1.4);
    p {
      @include font("Poppins", 400, 14px, var(--gray_500), 1.4);
    }
  }
}
.step_active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--primary_blue_500);
}
.proDepartments {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  .departmentImage {
    width: 112px;
    padding: 16px;
    border-radius: 24px;
    background: var(--white);
    box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
    cursor: pointer;
    figure {
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
      }
    }
    p {
      @include font("Poppins", 500, 14px, var(--gray_700), 1.4);
      text-align: center;
      margin-top: 10px;
    }
  }
}
.productDocuments {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  .document {
    width: calc(100% / 3);
    border-radius: 16px;
    background: var(--white);
    box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    .time {
      @include font("Poppins", 400, 12px, var(--gray_500), 1.4);
      position: absolute;
      top: 8px;
      right: 16px;
    }
    figure {
      width: 54px;
      min-width: 54px;
      height: 54px;
      border-radius: 50%;
      background: var(--primary_blue_50);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
      }
    }
    .documentInfo {
      h3 {
        @include font("Poppins", 600, 16px, var(--black), 1.4);
        @include ellipse(100%, 270px, 20px);
      }
      p {
        @include font("Poppins", 400, 14px, var(--gray_500), 1.4);
        @include ellipse(100%, 270px, 20px);
        margin: 0 -10px;
        span {
          position: relative;
          padding: 0 10px;
          &:after {
            content: "";
            width: 5px;
            height: 5px;
            background-color: var(--gray_500);
            border-radius: 50%;
            position: absolute;
            top: 7px;
            right: -6px;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiOutlinedInput-root {
  padding: 1px 80px 1px 10px !important;
}
.MuiChip-root {
  height: 27px !important;
  background-color: var(--primary_blue_50) !important;
  border-radius: 6px !important;
  .MuiChip-label {
    @include font("Poppins", 400, 14px, var(--primary_blue_500), 1.4);
  }
}
.mt_100 {
  margin-top: 100px;
}
.workingHours {
  max-width: 500px;
  li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px 0;
    p {
      @include font("Poppins", 400, 14px, var(--gray_600), 1.4);
      flex: 1;
      &:last-child {
        @include font("Poppins", 400, 14px, var(--gray_900), 1.4);
      }
    }
  }
}

.reelTableContainer {
  .reelTable {
    .checkbox.checked {
      .MuiFormControlLabel-label {
        white-space: nowrap;
      }
    }
    &.table_height {
      min-height: calc(100vh - 366px);
      max-height: calc(100vh - 366px);
      height: calc(100vh - 366px);
      &.no_tabs {
        min-height: calc(100vh - 306px);
        max-height: calc(100vh - 306px);
        height: calc(100vh - 306px);
      }
      @include tab-xs {
        min-height: calc(100vh - 350px);
        max-height: max-content;
      }
    }
  }
}
.formScroller {
  height: calc(100vh - 290px);
  overflow-y: auto;
  padding-right: 59px;
  margin-right: -59px;
  &.with_tabs {
    height: calc(100vh - 350px);
  }
  @include desktop-sm {
    padding-right: 10px;
    margin-right: -10px;
  }
  &.no_heading {
    height: calc(100vh - 240px);
  }
}
.inputChip {
  width: auto;
  padding: 4px 20px;
  border-radius: 25px;
  background-color: var(--primary_blue_50);
  @include font("Poppins", 400, 14px, var(--primary_blue_500), 1.4);
  &.wrap {
    p {
      @include ellipse(100%, 90px, 20px);
    }
  }
}
.MuiFormControlLabel-root {
  margin-left: -6px !important;
}
.rolesList {
  display: flex;
  align-items: center;
  gap: 15px;
  .roleType {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    &.full {
      width: 100%;
    }
    p {
      @include font("Poppins", 400, 16px, var(--gray_700), 1.4);
    }
    &.bold {
      p {
        @include font("Poppins", 600, 18px, var(--gray_700), 1.4);
      }
    }
  }
  li {
    flex: auto;
    width: calc(100% / 4);
  }
}
.MuiTabs-flexContainer {
  border-bottom: 1px solid var(--gray_300);
}
.MuiAccordion-root {
  &.Mui-expanded {
    &:first-of-type {
      margin-bottom: 0;
    }
  }
}
.rolesPopover {
  h3 {
    @include font("Poppins", 500, 18px, var(--black), 1.4);
    margin-bottom: 10px;
  }
  p {
    @include font("Poppins", 400, 18px, var(--black), 1.4);
    margin-bottom: 10px;
  }
}

.MuiChip-root.Mui-disabled {
  opacity: 1 !important;
}
