.MuiTypography-h1 {
    font-size: 32px !important;
  }
  .MuiTypography-h2 {
    font-size: 28px !important;
  }
  .MuiTypography-h3 {
    font-size: 24px !important;
  }
  .MuiTypography-h4 {
    font-size: 22px !important;
  }
  .MuiTypography-h5 {
    font-size: 20px !important;
  }
  .MuiTypography-h6 {
    font-size: 18px !important;
  }
  .MuiTypography-body1 {
    font-size: 18px !important;
  }
  .MuiTypography-body2 {
    font-size: 16px !important;
  }
  .MuiTypography-subtitle1 {
    font-size: 15px !important;
    line-height: 1.4 !important;
  }
  .MuiTypography-subtitle2 {
    font-size: 13px !important;
  }
  @media screen and (max-width: 1500px) {
    .MuiTypography-subtitle1 {
      font-size: 14px !important;
      // line-height: 1.4;
    }
  }
  @media screen and (max-width: 1366px) {
    .MuiTypography-h1 {
      font-size: 30px !important;
    }
    .MuiTypography-h2 {
      font-size: 26px !important;
    }
    .MuiTypography-h3 {
      font-size: 22px !important;
    }
    .MuiTypography-h4 {
      font-size: 20px !important;
    }
    .MuiTypography-h5 {
      font-size: 19px !important;
    }
    .MuiTypography-h6 {
      font-size: 17px !important;
    }
    .MuiTypography-body1 {
      font-size: 17px !important;
    }
    .MuiTypography-body2 {
      font-size: 15px !important;
    }
    .MuiTypography-subtitle2 {
      font-size: 12px !important;
    }
  }
  @media screen and (max-width: 991px) {
    .MuiTypography-h1 {
      font-size: 26px !important;
    }
    .MuiTypography-h2 {
      font-size: 22px !important;
    }
    .MuiTypography-h3 {
      font-size: 20px !important;
    }
    .MuiTypography-h4 {
      font-size: 19px !important;
    }
    .MuiTypography-h5 {
      font-size: 18px !important;
    }
    .MuiTypography-h6 {
      font-size: 16px !important;
    }
    .MuiTypography-body1 {
      font-size: 15px !important;
    }
    .MuiTypography-body2 {
      font-size: 14px !important;
    }
    .MuiTypography-subtitle1 {
      font-size: 13px !important;
    }
    .MuiTypography-subtitle2 {
      font-size: 12px !important;
    }
  }
  @media screen and (max-width: 767px) {
    .MuiTypography-h1 {
      font-size: 24px !important;
    }
    .MuiTypography-h2 {
      font-size: 20px !important;
    }
    .MuiTypography-h3 {
      font-size: 19px !important;
    }
    .MuiTypography-h4 {
      font-size: 18px !important;
    }
    .MuiTypography-h5 {
      font-size: 17px !important;
    }
    .MuiTypography-h6 {
      font-size: 15px !important;
    }
    .MuiTypography-body1 {
      font-size: 14px !important;
    }
    .MuiTypography-body2 {
      font-size: 13px !important;
    }
    .MuiTypography-subtitle1 {
      font-size: 12px !important;
    }
    .MuiTypography-subtitle2 {
      font-size: 11px !important;
    }
  }
  @media screen and (max-width: 576px) {
    .MuiTypography-h1 {
      font-size: 22px !important;
    }
    .MuiTypography-h2 {
      font-size: 19px !important;
    }
    .MuiTypography-h3 {
      font-size: 18px !important;
    }
    .MuiTypography-h4 {
      font-size: 17px !important;
    }
    .MuiTypography-h5 {
      font-size: 16px !important;
    }
    .MuiTypography-h6 {
      font-size: 14px !important;
    }
    .MuiTypography-body1 {
      font-size: 13px !important;
    }
    .MuiTypography-body2 {
      font-size: 12px !important;
    }
    .MuiTypography-subtitle1 {
      font-size: 11px !important;
    }
    .MuiTypography-subtitle2 {
      font-size: 10px !important;
    }
  }
  @media screen and (max-width: 450px) {
    .MuiTypography-h1 {
      font-size: 20px !important;
    }
    .MuiTypography-h2 {
      font-size: 18px !important;
    }
    .MuiTypography-h3 {
      font-size: 17px !important;
    }
    .MuiTypography-h4 {
      font-size: 16px !important;
    }
    .MuiTypography-h5 {
      font-size: 15px !important;
    }
    .MuiTypography-h6 {
      font-size: 13px !important;
    }
    .MuiTypography-body1 {
      font-size: 12px !important;
    }
    .MuiTypography-body2 {
      font-size: 12px !important;
    }
    .MuiTypography-subtitle1 {
      font-size: 10px !important;
    }
    .MuiTypography-subtitle2 {
      font-size: 9px !important;
    }
  }
  