$font-family: 'Poppins', sans-serif;

:root {
  --primary_blue_50: #EEF3F7;
  --primary_blue_100: #C9DAE5;
  --primary_blue_200: #AFC9D9;
  --primary_blue_300: #8AB0C7;
  --primary_blue_400: #73A1BD;
  --primary_blue_500: #5089AC;
  --primary_blue_600: #497D9D;
  --primary_blue_700: #39617A;
  --primary_blue_800: #2C4B5F;
  --primary_blue_900: #223A48;
  
  --secondary_blue_50: #E9EDF1;
  --secondary_blue_100: #BBC8D3;
  --secondary_blue_200: #9AADBD;
  --secondary_blue_300: #6C889F;
  --secondary_blue_400: #4F718D;
  --secondary_blue_500: #234D70;
  --secondary_blue_600: #204666;
  --secondary_blue_700: #193750;
  --secondary_blue_800: #132A3E;
  --secondary_blue_900: #0F202F;

  --white: #FFFFFF;
  --black: #000000;
  
  --gray_50: #F9FAFB;
  --gray_100: #F3F4F6;
  --gray_200: #E5E7EB;
  --gray_300: #D2D6DB;
  --gray_400: #9DA4AE;
  --gray_500: #6C737F;
  --gray_600: #4D5761;
  --gray_700: #384250;
  --gray_800: #1F2A37;
  --gray_900: #111927;

  --error_50: #FEF3F2;
  --error_100: #FEE4E2;
  --error_200: #FECDCA;
  --error_300: #FDA29B;
  --error_400: #F97066;
  --error_500: #F04438;
  --error_600: #D92D20;
  --error_700: #B42318;
  --error_800: #912018;
  --error_900: #7A271A;

  --warning_50: #FFFAEB;
  --warning_100: #FEF0C7;
  --warning_200: #FEDF89;
  --warning_300: #FEC84B;
  --warning_400: #FDB022;
  --warning_500: #F79009;
  --warning_600: #DC6803;
  --warning_700: #B54708;
  --warning_800: #93370D;
  --warning_900: #7A2E0E;

  --success_50: #ECFDF3;
  --success_100: #D1FADF;
  --success_200: #A6F4C5;
  --success_300: #6CE9A6;
  --success_400: #32D583;
  --success_500: #12B76A;
  --success_600: #039855;
  --success_700: #027A48;
  --success_800: #05603A;
  --success_900: #054F31;

  --linking: #6194FE;
  --blackLight: #292D32;
}

