.tooltipWrapper {
  @apply flex items-center justify-between bg-white py-2 px-3 gap-5;
  border: 1px solid #e0e0e0;
  border-radius: '8px';
  box-shadow: '0 2px 8px rgba(0, 0, 0, 0.15)';
  & .selectedColors {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

.dashboardCards{
  flex: 1;
}

.icon {
  @apply flex items-center justify-center;
  background: #e9efff;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.chart{
    height: 100%;
    & :global{
      .MuiCardContent-root{
        height: 100%;
        padding-bottom: 0 !important;
      }
    }
}