.cartProducts {
  border-radius: 1rem 1rem 0 0;
}
.orderItemName {
  @apply flex justify-between items-center w-full;
}
.description {
  width: 78%;
}

.characters {
  width: 78%;
  display: block;
  color: #969696;
}

.countHolder {
  @apply flex  justify-between items-center;
}
.orderItemHolder {
  @apply w-full;
  border-bottom: 1px solid var(--border-light);
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
  &:first-child {
    padding-top: 0;
  }
}
